@model Cec.ViewModels.BuildingStatusViewModel

<tr class="row">
    <td class="text-left col-xs-4 col-sm-2">
        @Html.DisplayFor(model => model.Status) 
        (@Html.DisplayFor(model => model.AreaCount))
    </td>
    <td class="text-center col-xs-3 col-sm-2">
        @Html.DisplayFor(model => model.Percent)%
    </td>
    <td class="text-center col-xs-5 col-sm-8">
        @Html.DisplayFor(model => model.AreaStatuses)
    </td>
</tr>
