@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    5345 Lexington Av<br />
    Indianapolis, IN 46219<br />
    <abbr title="Phone">P:</abbr>
    (317) 782-1008
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@completeelectric.com">support@completeelectric.com</a><br />
</address>