@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <img alt="Cec Logo" src="/Content/Images/CEC Logo.png?maxwidth=400&maxheight=300" />
    @*<p class="lead">Your electrical service of choice.</p>*@
</div>